<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<div class="section">
<% @user_censuses.each do |census| %>f
  <% results = census.results %>
  <div class="feed">
    <div class="feed_header_container">
      <div class="feed_header">
        <strong>My Posts</strong>
      </div>
    </div>

    <div class="feed_pagination">
      <%= will_paginate @user_censuses,
      param_name: 'ended',
      page_links: false,
      next_label:     image_tag("arrow_next.png", size: "50"),
      previous_label: image_tag("arrow_back.png", size: "50")%>
    </div>

    <div class="feed_description">
      <%= census.description %>
    </div>

    <div class="feed_details">
      <%= "#{census.option_01} (#{results[0]} votes)" %> <br>
      <%= "#{census.option_02} (#{results[1]} votes)" %> <br>
      <%= "#{census.option_03} (#{results[2]} votes)" %> <br>
    </div>

      <div class="feed_details">
        <%= "Posted By: #{census.user.first_name} #{census.user.last_name}" %> <br>
        <%= "For: #{census.duration}" %> <br>
        <%= census.end_time.strftime("Ended On %m/%d/%Y") %> <br>
      </div>

      <% data = {
        census.option_01 => results[0].to_i,
        census.option_02 => results[1].to_i,
        census.option_03 => results[2].to_i } %>

      <div class="feed_chart">
        <%= pie_chart data, height: "120px", colors: Color.pick %>
      </div>
    </div>
  <% end %>
</div>
