<% @censuses_active.each do |census| %>
  <% results = census.results %>

  <div class="cast_census">
      <div class="filler"></div>
    <div class="cast_census description">
      <%= census.description %>
    </div>
    <div class="cast_census option">
      <form class="new_opinion" id="new_opinion" action="/censuses/1/opinions" accept-charset="UTF-8" method="post">
      <ul>
        <li>
          <%= "<input type=\"radio\" id=\"#{census.option_01}\" name=\"opinion[chosen_option]\">".html_safe %>
          <%= "<label for=\"#{census.option_01}\">#{census.option_01}</label>".html_safe %>
        </li>
        <li>
          <%= "<input type=\"radio\" id=\"#{census.option_02}\" name=\"opinion[chosen_option]\">".html_safe %>
          <%= "<label for=\"#{census.option_02}\">#{census.option_02}</label>".html_safe %>
        </li>
        <li>
          <%= "<input type=\"radio\" id=\"#{census.option_03}\" name=\"opinion[chosen_option]\">".html_safe %>
          <%= "<label for=\"#{census.option_03}\">#{census.option_03}</label>".html_safe %>
        </li>
      </ul>
    </div>

    <div class="cast_census time">
      <%= 'Time Left' %><br>
      <%= @time_left %>
    </div>
    <% data = {
      census.option_01 => results[0].to_i,
      census.option_02 => results[1].to_i,
      census.option_03 => results[2].to_i } %>

    <div class="cast_census chart">
    <%= pie_chart data, height: "200px", colors: Color.pick %>
    </div>

    <div class="cast_census option">
</div>


<div class="pagination">
  <%= will_paginate @censuses_active,
    param_name: 'active',
    page_links: false,
    next_label:     image_tag("arrow_next.png", size: "50"),
    previous_label: image_tag("arrow_back.png", size: "50")%>
  </div>

<% end %>
<input type="submit" name="commit" value="Create Opinion" class="button-large">
</form>
</div>
