<% @censuses_active.each do |census| %>
  <% results = census.results %>
  <div class="cast_census">
    <div class="cast_census left">

      <div class="cast_census description">
        <strong><%= census.description %></strong>
      </div>

      <div class="cast_census option">
        <%= simple_form_for [census, @opinion] do |f| %>
          <%= f.input :chosen_option,
            collection: [census.option_01, census.option_02, census.option_03],
            as: :radio_buttons, label: false %>
          <%= will_paginate @censuses_active,
            param_name: 'active',
            page_links: false %>
      </div>
    </div>

    <div class="cast_census right">
      <div class="cast_census time">
        <%= 'Time Left' %><br>
        <%= @time_left %>
      </div>

      <div class="cast_census chart">
        <%= pie_chart ({
          census.option_01 => results[0].to_i,
          census.option_02 => results[1].to_i,
          census.option_03 => results[2].to_i }) %>
      </div>

      <div class="cast_census submit">
        <%= f.button :submit, 'Cast Opinion' %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
