<% @censuses_closed.each do |census| %>f
  <% results = census.results %>
  <div class="feed">
    <div class="feed_header_container">
      <div class="feed_header">
        <strong>Closed Feed</strong>
      </div>
    </div>
    <div class="feed_pagination">
      <%= will_paginate @censuses_closed,
      param_name: 'ended',
      page_links: false,
      next_label:     image_tag("arrow_next.png", size: "50"),
      previous_label: image_tag("arrow_back.png", size: "50")%>
    </div>
      <div class="feed_description">
        <%= census.description %>
      </div>

      <div class="feed_details">
        <%= "#{census.option_01} (#{results[0]} votes)" %> <br>
        <%= "#{census.option_02} (#{results[1]} votes)" %> <br>
        <%= "#{census.option_03} (#{results[2]} votes)" %> <br>
        </ul>
      </div>

      <div class="feed_details">
        <%= "Posted By: #{census.user.first_name} #{census.user.last_name}" %> <br>
        <%= "For: #{census.duration}" %> <br>
        <%= census.end_time.strftime("Ended On %m/%d/%Y") %> <br>

      </div>

      <% data = {
        census.option_01 => results[0].to_i,
        census.option_02 => results[1].to_i,
        census.option_03 => results[2].to_i } %>

      <div class="feed_chart">
        <%= pie_chart data, height: "120px", colors: Color.pick %>
      </div>
      <div class="feed_comment_container">
        <%= form_for [census, @comment] do |f| %>

        <div class="row">

    <div class="row collapse">
      <div class="small-9 columns">
        <%= f.text_field :comment %>
      </div>
      <div class="small-3 columns">
        <div class="button postfix">

        <%= f.submit 'Cast' %>
      </div>
      </div>
    </div>
    <% end %>
  <% end %>
    </div>

</div>
</div>
