<h1>Poll Crowdcensus</h1>

<%= simple_form_for Census.new do |f| %>
  <%= f.input :description, label:'Description' %>
  <%= f.input :option_01, label: 'Option' %>
  <%= f.input :option_02, label: 'Option' %>
  <%= f.input :option_03, label: 'Option' %>
  <%= f.input :duration,  collection: Census::DURATIONS.keys, selected: 1 %>

  <%= f.button :submit, 'Poll Crowdcensus' %>
<% end %>
