<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CrowdCensus" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Crowdcensus" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'highcharts.js', 'chartkick' %>
    <%= javascript_include_tag 'jquery.scrollify.js', 'chartkick' %>
    <link rel="stylesheet" type="text/css" href="scroller.css" />
    <script>
             $(function() {
                   $.scrollify({
        section : ".section",
        easing: "easeOutExpo",
        scrollSpeed: 800,
        offset : 0,
        scrollbars: true,
        standardScrollElements: "",
        setHeights: false,
                 });
             });
         </script>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <body style="background-color:#*=030a0e">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
